.header
  #header チャットグループが作成されました。


.main-contents
  .side-ver
    .side-ver__header
      .side-ver_header__contents
        .side-ver__header__contents__user-name  aaa
        .side-ver__header__contents__icons 
          .side-ver__header__contents__icons__1 X
          .side-ver__header__contents__icons__2 Y


    .side-ver__groupes
      %ul.side-ver__groupes__lists
        %li.side-ver__groupes__lists__list
          .side-ver__groupes__lists__list__name
            aaaa
          .side-ver__groupes__lists__list__member
            bbbb
        %li.side-ver__groupes__lists__list
          .side-ver__groupes__lists__list__name
            cccc
          .side-ver__groupes__lists__list__member
            dddd
        %li.side-ver__groupes__lists__list
          .side-ver__groupes__lists__list__name
            eeee
          .side-ver__groupes__lists__list__member
            fffff
        




  .chatscreen
    .chatscreen__header
      




