// ヘッダー部分
$header_height: 40px;
// サイドバー部分
$side_side_padding: 0 20px ;
//メイン部分
$chat_padding:0 40px;
$color_skyblue: #66CCFF;
$footer_height: 90px;
$input_box_height: 50px;
$color_lightgray: #999999;
$color_white: white;
//共通部分
$main_header_height: 100px;
$side_ver_width: 300px;

.hidden{
    display: none;
}