
// ヘッダー部分
$header_height: 40px;

// サイドバー部分
$side_side_padding: 0 20px ;

//メイン部分
$chat_padding:0 40px;
$edit_color: #66CCFF;
$footer_height: 90px;
$input_box_height: 50px;
$sub_text: #999999;

//共通部分
$main_header_height: 100px;
$side_ver_width: 300px;