.chatscreen__main__message-lists__message
  .chatscreen__main__message-lists__message--user
    name
  .chatscreen__main__message-lists__message--date
    created_date
  .chatscreen__main__message-lists__message--text
    text